body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 25px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #0a0880; /* El color del fondo de la página web */
    color: #ffffff; /* El color del texto*/ 
}
h1 {
    color: #ffffff; /* El color de la cabecera */
    font-size: 50px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
h2 {
    color: #ffffff; /* El color de la cabecera */
    font-size: 35px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}